@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EntitiyLayer.Concrete
@model List<User>

<table id="example" class="table table-striped dataTable" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Şirket</th>
            <th>Telefon</th>
            <th>EPosta</th>
            <th>Konum</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Company</td>
                <td>@item.PhoneNumber</td>
                <td>@item.EMail</td>
                <td>@item.Location</td>
                <td><a class="btn btn-info" href="?Edit=@item.UUID">Düzenle</a> <a class="btn btn-danger" href="?Edit=@item.UUID">Düzenle</a> <a href="?Edit=@item.UUID">Düzenle</a></td>
            </tr>
        }
    </tbody>

</table>

